<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>This is the shopping home page</h1>
    <p><a href="/products">click here </a>to go to the products page.</p>
<%- include('../includes/end.ejs') %>